<div>
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="mb-1 fw-500">Marka: </label>
      <span class="ms-1">{{partData.brand}}</span>
    </div>
    <div class="col-12 col-md-6">
      <label class="mb-1 fw-500">Stan: </label>
      <span class="ms-1">{{partData.condition}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="mb-1 fw-500">Model: </label>
      <span class="ms-1">{{partData.model}}</span>
    </div>
    <div class="col-12 col-md-6">
      <label class="mb-1 fw-500">Dostawa:</label>
      <span class="ms-1">{{partData.delivery ? 'Tak' : 'Nie'}}</span>
    </div>
  </div>
</div>
