<div class="container">
  <div class="px-5 py-5">
    <h1 class="mb-3">Witaj w naszym serwisie!</h1>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod tellus
          nec ex dapibus ultrices. Nullam feugiat ultricies ipsum, quis sodales velit auctor et. Nam aliquam dui sit
          amet ex hendrerit, quis molestie magna porttitor. In nec rhoncus leo, placerat condimentum turpis. Nulla in
          orci orci. Sed sed nunc sed leo consequat congue at in urna. Aenean eu auctor est.
          Etiam at imperdiet nisi. Nulla quis metus non sem aliquet aliquam in id neque. Suspendisse maximus tincidunt
          sapien imperdiet suscipit. Morbi a tempus enim. Etiam lobortis nisi eget tortor egestas, eu vulputate elit
          maximus. Quisque venenatis massa sed ante mollis, non condimentum leo vestibulum. Nunc est felis, interdum
          vel libero at, efficitur vestibulum risus. Mauris metus urna, sollicitudin interdum consectetur sit amet,
          tempor quis elit. Phasellus in lacinia leo. Aenean porttitor magna enim, a faucibus ex bibendum vitae.
          Vivamus ut consectetur diam. Mauris at pretium ipsum. Pellentesque in iaculis sem, eget euismod sapien.
          Vestibulum commodo, enim sit amet viverra gravida, nulla purus luctus massa, in vehicula libero leo eu
          tortor. Aliquam sollicitudin mi tortor, sit amet gravida turpis venenatis vitae. Aliquam aliquet lorem at
          augue aliquet condimentum.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="/assets/multitasking.jpg" alt="homepageImage" height="400px" width="600px">
      </div>
    </div>
  </div>
</div>
