<div class="container py-5 text-justify">
  <h1 class="mb-3">Wycena</h1>
  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod tellus nec ex dapibus ultrices.
    Nullam feugiat ultricies ipsum, quis sodales velit auctor et. Nam aliquam dui sit amet ex hendrerit, quis molestie
    magna porttitor. In nec rhoncus leo, placerat condimentum turpis. Nulla in orci orci. Sed sed nunc sed leo consequat
    congue at in urna. Aenean eu auctor est.
    Etiam at imperdiet nisi. Nulla quis metus non sem aliquet aliquam in id neque. Suspendisse maximus tincidunt sapien
    imperdiet suscipit. Morbi a tempus enim. Etiam lobortis nisi eget tortor egestas, eu vulputate elit maximus. Quisque
    venenatis massa sed ante mollis, non condimentum leo vestibulum. Nunc est felis, interdum vel libero at, efficitur
    vestibulum risus.
  </p>
  <div class="row">
    <div class="col-12 col-md-6">
      <p>Poniżej przedstawiamy listę przedmiotów, których wyceną zajmuje się nasza firma. Cała procedura jest przeprowadzane z należytą
        dokładnością oraz całkowitą dbałością o interesy naszych klientów.
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">L.p</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Kwota(PLN)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td scope="row">Usługa numer 1</td>
            <th scope="row">100</th>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td scope="row">Usługa numer 2</td>
            <th scope="row">180</th>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td scope="row">Usługa numer 3</td>
            <th scope="row">340</th>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td scope="row">Usługa numer 4</td>
            <th scope="row">500</th>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td scope="row">Usługa numer 5</td>
            <th scope="row">1800</th>
          </tr>
        </tbody>
      </table>
      <p class="mt-3">Aenean nec libero enim. Aenean viverra congue porta. Cras finibus varius nibh ut efficitur.
        Pellentesque
        vestibulum venenatis lacus vel dignissim. Etiam ex augue, sagittis vel lorem vel, finibus accumsan est. Quisque
        posuere feugiat massa. In hac habitasse platea dictumst. In sed diam sed neque venenatis consequat. Pellentesque
        ac blandit eros. Morbi in lorem et diam rutrum tincidunt. Pellentesque tincidunt leo nibh, nec malesuada enim
        accumsan sed. Suspendisse ut mi varius, lobortis lacus in, tristique ante. </p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/assets/try3.png" alt="valuationImage">
    </div>
  </div>
</div>
