<div class="books-page-background h-100">
  <app-navbar></app-navbar>
  <div class="container pt-5 pb-4">
    <h1 *ngIf="!readonly" class="mb-4">Edytuj</h1>
    <h1 *ngIf="readonly" class="mb-4">Podgląd</h1>
    <form #form="ngForm" (ngSubmit)="updateBook()">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" 
                    name="id" [(ngModel)]="bookDetails.id" [disabled]="true">
                  </div>
                  <div class="mb-3">
                    <label for="title" class="form-label">Tytuł</label>
                    <input type="text" class="form-control" id="title"
                    name="title" [(ngModel)]="bookDetails.title" [disabled]="readonly">
                  </div>
                  <div class="mb-3">
                    <label for="author" class="form-label">Autor</label>
                    <input type="text" class="form-control" id="author"
                    name="author" [(ngModel)]="bookDetails.author" [disabled]="readonly">
                  </div>
                  <div class="mb-3">
                    <label for="type" class="form-label">Typ</label>
                    <input type="tex" class="form-control" id="type"
                    name="type" [(ngModel)]="bookDetails.type" [disabled]="readonly">
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Opis</label>
                    <textarea class="form-control"
                    id="description" style="height: 100px" name="description" [(ngModel)]="bookDetails.description" [disabled]="readonly"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="serialNumber" class="form-label">Nr.seryjny</label>
                    <input type="text" class="form-control" id="serialNumber"
                    name="serialNumber" [(ngModel)]="bookDetails.serialNumber" [disabled]="readonly">
                  </div>
                  <div class="mb-3">
                    <label for="location" class="form-label">Lokalizacja</label>
                    <input type="text" class="form-control" id="location"
                    name="location" [(ngModel)]="bookDetails.location" [disabled]="readonly">
                  </div>
            </div>
        </div>
        <button *ngIf="readonly" type="submit" class="btn btn-outline-secondary" [routerLink]="['/edit/' + bookDetails.id]">Edytuj</button>
        <div *ngIf="!readonly">
          <button type="submit" class="btn btn-outline-primary me-4">Zapisz</button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteBook(bookDetails.id)">Usuń</button>
        </div>
      </form>
</div>
</div>