<div class="books-page-background h-100">
  <app-navbar></app-navbar>
  <div class="container pt-5 pb-4">
    <h1 class="mb-3">Dodaj pozycję</h1>

    <form #form="ngForm" (ngSubmit)="addBook()">
        <div class="row">
            <div class="col-12 col-md-6">
                  <div class="mb-3">
                    <label for="title" class="form-label">Tytuł</label>
                    <input type="text" class="form-control" id="title"
                    name="title" [(ngModel)]="addBookRequest.title">
                  </div>
                  <div class="mb-3">
                    <label for="author" class="form-label">Autor</label>
                    <input type="text" class="form-control" id="email"
                    name="author" [(ngModel)]="addBookRequest.author">
                  </div>
                  <div class="mb-3">
                    <label for="type" class="form-label">Typ</label>
                    <input type="text" class="form-control" id="type"
                    name="type" [(ngModel)]="addBookRequest.type">
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Opis</label>
                    <input type="text" class="form-control" id="description"
                    name="description" [(ngModel)]="addBookRequest.description">
                  </div>
                  <div class="mb-3">
                    <label for="serialNumber" class="form-label">Numer seryjny</label>
                    <input type="text" class="form-control" id="serialNumber"
                    name="serialNumber" [(ngModel)]="addBookRequest.serialNumber">
                  </div>
                  <div class="mb-3">
                    <label for="location" class="form-label">Lokalizacja</label>
                    <input type="text" class="form-control" id="location"
                    name="location" [(ngModel)]="addBookRequest.location">
                  </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary me-3">Zapisz</button>
      </form>
</div>
</div>